<md-card md-theme="default">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ component.name }}</span>
      <span class="md-subhead">{{ component.brand_name }} {{ component.model_name }}</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-lg card-media"></div>
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <div layout="row">
      <md-icon style="color: black;" md-svg-src="/static/svg/si-glyph-mountain.svg" aria-label="climb-icon"></md-icon>
      <span>{{ component.meters_elevation }} meters</span>
    </div>
    <div layout="row">
      <md-icon style="color: black;" md-svg-src="/static/svg/si-glyph-road.svg" aria-label="distance-icon"></md-icon>
      <span>{{ component.meters_distance }} meters</span>
    </div>
    <md-button>Edit</md-button>
    <md-button>Something</md-button>
  </md-card-actions>
</md-card>
