{% extends "www/templates/layout.html" %}
{% load template_filters %}
{% block title %}My Cycle Diary - Components{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-4">
    <div class="list-group">
{% for component in components %}
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">{{ component.name }}</h4>
        <p class="list-group-item-text">{{component.brand_name}} {{component.model_name}} {{component.aggregates.meters_distance}}</p>
      </a>
{% endfor %}
    </div>
  </div>
  <div class="col-md-8">
    <form class="form-horizontal" action="./components" method="POST">
    {% csrf_token %}
      <div class="form-group">

      </div>
    </form>
  </div>
</div>
{% endblock %}
