{% extends "www/templates/layout.html"%}
{% block navbar %}{% with active="activities" %}{{ block.super }}{% endwith %}{% endblock %}
{% load template_filters %}
{% block title %}My Cycle Diary - Strava Activities{% endblock %}
{% block head %}
<script>
$(document).ready(function() {
  $('#activities').DataTable({
    order: [[0,"dsc"]],
    ordering: true,
    paging: true,
    data: [
{% for activity in activities %}
      ["{{activity.start_date_local}}","{{activity.type}}","{{activity.name}}","{{activity.distance|meters_to_miles}}","{{activity.elapsed_time|seconds_to_hours}}"],
{% endfor %}
    ]
  });
});
</script>
{% endblock %}
{% block body %}
<ul>
{% for bikeid, bike in bikes.iteritems %}
  <li>{{bike.bike.name}}: {{bike.distance}} {{bike.elevation}}</li>
{% endfor %}
</ul>

<table id="activities" class="display">
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Name</th>
      <th>Distance</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

{% endblock %}
