{% extends "www/templates/layout.html" %}
{% block title %}My Cycle Diary - Strava Distance Calculator{% endblock %}
{% block body %}
{% if not user.last_strava_sync %}
<h1>Still loading your data, try reloading in a sec</h1>
{% else %}
<form class="form-horizontal" action="./component_stats" method="POST">
{% csrf_token %}
  <div class="form-group">
    <label for="component_id">Bike</label>
    <select name="component_id" class="form-control">
    {% for comp in components %}
      <option value="{{ comp.id }}"{% if component_id == comp.id %} selected{% endif %}>{{ comp.name }}</option>
    {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="before">Before Date</label>
    <input type="date" class="form-control" name="before" value="{{ before }}"/>
  </div>
  <div class="form-group">
    <label for="after">After Date</label>
    <input type="date" class="form-control" name="after" value="{{ after }}"/>
  </div>
<button class="btn btn-primary" type="submit">Submit</button>
</form>
</br>

Distance {{ distance }}<br/>
Time {{ time }}<br/>
Elevation {{ elevation }}<br/>
Avg Speed {{ avg_speed }}<br/>
Kilojoules {{ kjs }}<br/>
{% endif %}
{% endblock %}
